<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <img class="img" src="goodreads.jpeg">
   
<div class="paragraph">
<h1>The right book in the right hands at the right time
can change the world. </h1>
<h3>Who We Are</h3>
<p>Goodreads is the world’s largest site for readers and book recommendations. Our mission is to help people find and share books they love. Goodreads launched in January 2007.</p>

<h3>A Few Things You Can Do On Goodreads</h3>
<p>
See what books your friends are reading.
Track the books you're reading, have read, and want to read.
Check out your personalized book recommendations. Our recommendation engine analyzes 20 billion data points to give suggestions tailored to your literary tastes.
Find out if a book is a good fit for you from our community’s reviews.
    </p>
</div>

</body>
</html>