<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/admin-categories" routerLinkActive="active">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin-books" routerLinkActive="active">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin-authors" routerLinkActive="active">Authors</a>
  </li>
 <li>
  <div *ngIf="username">
    <h3>Hello , {{username}}</h3>
    <button (click)="logout()">Logout</button>
</div>

 </li>
</ul>

<!---------ADD Category----------->
<!-- Button to Open the Modal -->

<button mat-raised-button (click)="openDialog()">Add Category</button>

<!--table-->

<table class="table" *ngIf="cat">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ca of cat">
      <td>{{ca._id}}</td>
      <td>{{ca.name}}</td>     
      <td> <button (click)="delete(ca._id)">Delete</button><button (click)="updateDialog(ca._id)">Update</button></td>
    </tr>
  
  </tbody>
</table>
<div [hidden]="cat">
  <p>No Category Exist !</p>
</div>
<div *ngIf="err">
    <h2>Sorry For That</h2>
    
   <p>
  {{err}}
   </p>
  </div>