<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div *ngIf="username">
        <h3>Hello , {{username}}</h3>
        <button (click)="logout()">Logout</button>
    </div>
    <div id="container">
            <div id="top">
                <img src="goodreads.jpeg">
                <form id="search" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label>Username <input type="username" name="s-user" id="s-user" formControlName="username"></label>
                <label>Password<input type="password" name="s-pass" id="s-pass" formControlName="password"></label>
                <input type="submit" class="submit" value="Login" [disabled]="loginForm.invalid">
                </form>
            </div>

            <div id="center">
                <div id="populars">
                    <div id="poptray">
                        <p>Popular Authors</p>
                        <ul id="Authors_tray" *ngFor="let author of authors">
                            {{author.fname}}  {{author.lname}} 
                        </ul>
                    </div>

                    <div id="poptray">
                        <p>Popular Books</p>
                        <ul id="Books_tray" *ngFor="let book of books">
                            {{book.name}}
                        </ul>
                    </div>

                    <div id="poptray">
                        <p>Popular Categories</p>
                        <ul id="categories_tray" *ngFor="let cat of categories">
                            
                                {{ cat.name }}</ul>
                    </div>
                </div>
                <div id="signform">
                        <form novalidate [formGroup]="registerForm" (ngSubmit)="regiser()" >
                            <label> First Name </label>
                            <input id="field1" type="text" formControlName="first_name"  /> <br>
                            <label> Last Name </label>
                            <input id="field2" type="text" formControlName="last_name"  /> <br>
                            <label> Username </label>
                            <input id="field3" type="username" formControlName="username"  /> <br>
                            <label> Password </label>
                            <input id="field4" type="password" formControlName="password"  /> <br>
                            <label> Avatar </label>
                            <input id="filechooser" type="file" formControlName="avatar" /> <br>
                            <input id="signinbtn" type="submit" name="submit" value="signup"  [disabled]="registerForm.invalid" /> <br>
                        </form>
                </div>
        </div>
        <div class="nav">
           
            <li><a class="active" [routerLink]="['/home']" >Home</a></li> 
            <li><a [routerLink]="['/about']">About</a></li> 
       
          </div>
    </div>


</body>
</html>
