

<html>

<head>
  <link rel="stylesheet" type="text/css" href="authors.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="topnav">      
      <a class="active" href="#home">Home</a>
      <a href="#category">Categories</a>
      <a href="#Books">Books</a>
      <a href="#Authrs">Authors</a>
      <input type="text" placeholder="Search..">        
  <a id="logout" href="#logout">logout</a>
  <a id="usrname" href="#user">Username</a>
  <img id="ProfilePic" src="../../assets/img/img_avatar2.png" alt="Avatar">


  </div>

  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Author Name</h2>
        <div class="fakeimg" style="height:200px;">Image</div>
      </div>

      <div class="card review">
        <h3>Author's Book</h3>
      </div>


      <div class="card">

        <h2>Book Name</h2>
        <div class="bookimg">Image</div>

        <div class="med_info" >
            <h4>Rate:</h4>
            <p>display current rate</p> 
        </div>

        <div class="right_info" >
            <h4>Options</h4>
            <select>
              <option value="Want_to_read">Want to read</option>
              <option value="later">later</option>
            </select>
            <h4>rate this book:</h4>
            <select>
              <option value="1start">&starf;</option>
              <option value="2start">&starf;&starf;</option>
              <option value="3start">&starf;&starf;&starf;</option>
              <option value="4start">&starf;&starf;&starf;&starf;</option>
              <option value="5start">&starf;&starf;&starf;&starf;&starf;</option>
            </select>
         </div>
      </div>

      


    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About</h2>
        <h3>Author:</h3>
        <a href="#">AuthorName</a>
        <h3>Date of birth:</h3>
        <span>birthdate</span>
       
      </div>
      <div class="card">
        <h3>Info</h3>
        <p> information about authors here ya david</p>
      </div>
     
    </div>
  </div>
  
  

</body>

</html>


