<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/admin-categories" routerLinkActive="active">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin-books" routerLinkActive="active">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin-authors" routerLinkActive="active">Authors</a>
  </li>
  <li>
    <div *ngIf="username">
      <h3>Hello , {{username}}</h3>
      <button (click)="logout()">Logout</button>
  </div>
  
   </li>
</ul>

<!---------ADD Category----------->
<!-- Button to Open the Modal -->

<button mat-raised-button (click)="openDialog()">Add Book</button>

<!--table-->

<table class="table" *ngIf="books">
  <thead>
    <tr>

      <th>ID</th>
      <th>Photo</th>
      <th>Name</th>
      <th>Category Id</th>
      <th>Author Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book._id}}</td>
      <td><img src={{BaseURL + book.cover}} width="30px" height="30px"></td>     
     <td>
       {{book.name}}
     </td>
      <td>{{book.category_id}}</td>
      <td>{{book.author_id}}</td>   
      <td> <button (click)="delete(book._id)">Delete</button><button (click)="updateDialog(book._id)">Update</button></td>
    </tr>
  
  </tbody>
</table>
<div [hidden]="books">
  <p>No Books Exist !</p>
</div>
<div *ngIf="err">
    <h2>Sorry For That</h2>
    
   <p>
  {{err}}
   </p>
  </div>