<mat-toolbar mat-dialog-title color="primary">
        Add Book
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
      </mat-toolbar>
      
      <form novalidate #addForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-dialog-content>
          <p>
            <mat-form-field >
              <input matInput placeholder="Name" type="text" [(ngModel)]="book.name" name="fname" #Aname="ngModel" required>
            
            </mat-form-field>
            
          </p>
          <p>
                <mat-form-field >
                  <input matInput placeholder="Description" type="text" [(ngModel)]="book.description" name="lname" #Aname="ngModel" required>
                
                </mat-form-field>
                
              </p>
              <p>
                    <select  [(ngModel)]="book.author_id" name="author"required>
                      
                          <option *ngFor="let author of authors" [value]="author._id " name="dob"  >{{author.fname }} {{author.lname}}</option>

                    
                    
                    </select>
                    
            </p>
            <p>
                <select  [(ngModel)]="book.category_id" name="category"required>
                  
                      <option *ngFor="let cat of category" [value]="cat._id " name="dob"  >{{cat.name}}</option>

                  
                
                </select>
                
        </p>

       
          <div >
            <input  placeholder="cover photo" type="file" [(ngModel)]="book.cover" name="dob" #Aname="ngModel" required />
            
          </div>

          

        </mat-dialog-content>
        <mat-dialog-actions>
          <span class="flex-spacer"></span>
          <button mat-button mat-dialog-close>Cancel</button>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="addForm.form.invalid" >Add</button>
        </mat-dialog-actions>
      </form>
      <div *ngIf="err">
        <h2>Sorry For That</h2>
        
       <p>
      {{err}}
       </p>
      </div>
      